<?xml version="1.0" encoding="UTF-8"?>
<web-app id="WebApp_ID" version="2.5" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">
	<display-name>ShoppingCart</display-name>
	<servlet>
		<description>
		</description>
		<display-name>LoginServlet</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>cn.tech.Servlet.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>LogoutServlet</display-name>
		<servlet-name>LogoutServlet</servlet-name>
		<servlet-class>cn.tech.Servlet.LogoutServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>AddToCartServlet</display-name>
		<servlet-name>AddToCartServlet</servlet-name>
		<servlet-class>cn.tech.Servlet.AddToCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>QuantityIncDecServlet</display-name>
		<servlet-name>QuantityIncDecServlet</servlet-name>
		<servlet-class>cn.tech.Servlet.QuantityIncDecServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>RemoveFromCartServlet</display-name>
		<servlet-name>RemoveFromCartServlet</servlet-name>
		<servlet-class>cn.tech.Servlet.RemoveFromCartServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>OrderNowServlet</display-name>
		<servlet-name>OrderNowServlet</servlet-name>
		<servlet-class>cn.tech.Servlet.OrderNowServlet</servlet-class>
	</servlet>
	<servlet>
		<description>
		</description>
		<display-name>CheckOutServlet</display-name>
		<servlet-name>CheckOutServlet</servlet-name>
		<servlet-class>cn.tech.Servlet.CheckOutServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/user-login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LogoutServlet</servlet-name>
		<url-pattern>/log-out</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddToCartServlet</servlet-name>
		<url-pattern>/add-to-cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>QuantityIncDecServlet</servlet-name>
		<url-pattern>/quantity-inc-dec</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>RemoveFromCartServlet</servlet-name>
		<url-pattern>/remove-from-cart</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>OrderNowServlet</servlet-name>
		<url-pattern>/order-now</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CheckOutServlet</servlet-name>
		<url-pattern>/cart-check-out</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
